[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dynetNLAResistance"]
	path = dynetNLAResistance
	url = https://github.com/s1107967177/dynetnlaresistance
	shallow = true
	registered = true
